#navbar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: column;
    overflow: hidden;
    height: 100px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
.courses .course{
    flex-direction: column;
}